<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shine cluster registration</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
{#	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>#}
</head>
<body class="container">
<h1>Shine cluster registration</h1>

{% verbatim %}
<div id="vueApp">
	<form method="post" action="/">

		<label class="row">Your IPM Email Address: <input name="email" v-model="email" type="email" required  pattern=".+@ipm\.edu\.mo$" size="30"/></label>
		<fieldset class="row">
			<legend>Your major:</legend>

			<label><input type="radio" value="cs" name="major" required checked> Computer Science (Master of Science in Big Data and Internet of Things, PhD in Computer Applied Technology)</label>
			<label><input type="radio" value="other" name="major"> Other</label>
		</fieldset>

		<fieldset id="usePublicKeyQuestion" class="row">
			<legend>Do you want to use public key authentication for SSH login?</legend>

			<label><input v-model="usePublicKey" type="radio" checked name="key" v-bind:value="true"> Yes</label>
			<label><input v-model="usePublicKey" type="radio" name="key" v-bind:value="false" disabled> No, I want to use password.</label>
		</fieldset>

		<label v-if="usePublicKey" id="publicKeyQuestion" class='row'>
			<span class="d-block">Your public key: (<a href='https://cloud.google.com/compute/docs/connect/create-ssh-keys' target='_blank'>How do I create one?</a>)</span>
			<textarea class='row' name="publicKey" v-model="publicKey" required rows="3" cols="30" style="word-break: break-all"></textarea>
		</label>

		<label class='row'>
			<span class="d-block">Your user name: (Follow regex <code>[a-z_][a-z0-9_-]*</code>)</span>
			<span class="form-text">用户名大于等于5个字符，应具有描述性。比如joe biden，他的first name太短，用户名应为joseph、joebiden、jbiden之类的。</span>
			<input name="username" v-model="username" type="text" minlength="5" v-bind:maxlength="usernameMaxLength" pattern='[a-z_][a-z0-9_-]*' required/>
		</label>

		<fieldset class="row">
			<legend>Which shell do you like to use?</legend>
			<label><input type="radio" v-model="useZShell" name="useZShell" v-bind:value="true"> The beautiful Z Shell (ZSH)</label>
			<label><input type="radio" v-model="useZShell" name="useZShell" v-bind:value="false"> The classic Bourne Again Shell (BASH)</label>
		</fieldset>


		<fieldset class="row">
			<legend>You understand:</legend>
			<label><input type="checkbox" required> The documentations of the cluster are on <a href="https://github.com/gqqnbig/mpi-servers/wiki" style="word-break: break-all" target="_blank">https://github.com/gqqnbig/mpi-servers/wiki</a>.</label>
			<label><input type="checkbox" required> The documentations of SLURM are on <a href="https://slurm.schedmd.com" style="word-break: break-all" target="_blank">https://slurm.schedmd.com</a>.</label>
			<label><input type="checkbox" required> The documentations of Ubuntu 20.04 commands are on <a href="http://manpages.ubuntu.com" style="word-break: break-all" target="_blank">http://manpages.ubuntu.com</a> (the 20.04 LTS column).</label>
			<label v-if='useZShell'><input type="checkbox" required> The documentations of Z Shell are on <a href="https://zsh.sourceforge.io/Doc/Release/zsh_toc.html" style="word-break: break-all" target="_blank">https://zsh.sourceforge.io/Doc/Release/zsh_toc.html</a>.</label>
			<label v-else><input type="checkbox" required> The documentations of Bash are on <a href="https://www.gnu.org/software/bash/manual/bash.html" style="word-break: break-all" target="_blank">https://www.gnu.org/software/bash/manual/bash.html</a>.</label>
		</fieldset>

		<div v-if="errors.length>0" class="row alert alert-warning" role="alert">
			<ul>
				<li v-for="error in errors">{{ error }}</li>
			</ul>
		</div>
		<button type="submit" class="row" :disabled="errors.length>0">Submit</button>
	</form>
</div>
{% endverbatim %}

<script src="https://cdn.jsdelivr.net/npm/vue@3.0.11/dist/vue.global.prod.js"></script>
<script>
	function getKeyLength(publicKey) {
		let parts = publicKey.split(' ');
		if (parts.length === 3 || parts.length === 2)
			return parts[1].length;
		else
			throw 'Public key format is incorrect.';
	}

	function validatePublicKey() {
		this.errorDict['publicKey'] = [];
		let errors = this.errorDict['publicKey'];
		if (!this.usePublicKey)
			return;

		if (!this.publicKey.startsWith('ssh-rsa '))
			errors.push('Public key format is incorrect. It must start with "ssh-rsa ".');
		else {
			try {
				if (getKeyLength(this.publicKey) <= 250)
					errors.push('Public key is not long enough. It must at least have 2048 bits.');
			} catch (e) {
				errors.push(e);
			}
		}

		let parts = this.publicKey.split(' ');
		if (parts.length === 3 && this.username === '')
			this.username = parts[2];
	}


	const vueApp = {
		data() {
			return {
				errorDict: {},
				email: '',
				usePublicKey: true,
				useZShell: true,
				publicKey: '',
				username: '',
				usernameMaxLength: {{ usernameMaxLength }},
			};
		},
		computed: {
			errors() {
				return Object.values(this.errorDict).flat();
			},
		},
		watch: {
			publicKey: validatePublicKey,
			usePublicKey: validatePublicKey,
			username: function (newV) {
				this.errorDict['username'] = [];
				let errors = this.errorDict['username'];
				if (newV.length > this.usernameMaxLength)
					errors.push(`Maximum length of username is ${this.usernameMaxLength}.`);

			},
		},
	};

	Vue.createApp(vueApp).mount('#vueApp');
</script>

</body>
</html>